name: Build Tests

on: [push, pull_request]

env:
  COPR_REPO: ${{ vars.COPR_REPO || '@pki/master' }}

jobs:
  init:
    name: Initialization
    uses: ./.github/workflows/init.yml
    secrets: inherit

  build-test:
    name: Build Test
    needs: init
    runs-on: ubuntu-latest
    container: ${{ needs.init.outputs.base-image }}
    steps:
    - name: Clone repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        dnf install -y dnf-plugins-core moby-engine maven rpm-build
        if [ -n "${{ env.COPR_REPO }}" ]; then dnf copr enable -y ${{ env.COPR_REPO }}; fi
        dnf builddep -y --skip-unavailable --spec tomcatjss.spec

    - name: Install JSS packages from jss-dist
      run: |
        docker pull quay.io/dogtagpki/jss-dist:latest
        docker create --name=jss-dist quay.io/dogtagpki/jss-dist:latest
        docker cp jss-dist:/root/RPMS /tmp/RPMS/
        docker rm -f jss-dist
        dnf localinstall -y /tmp/RPMS/*

    - name: Build Tomcat JSS with Ant
      run: |
        ./build.sh

    - name: Install JSS into Maven repo
      run: |
        mvn install:install-file \
            -Dfile=/usr/lib/java/jss.jar \
            -DgroupId=org.dogtagpki.jss \
            -DartifactId=jss-base \
            -Dversion=5.5.0-SNAPSHOT \
            -Dpackaging=jar \
            -DgeneratePom=true

    - name: Build Tomcat JSS with Maven
      run: |
        mvn package

    - name: Compare tomcatjss.jar
      run: |
        jar tvf ~/build/tomcatjss/jars/tomcatjss.jar | awk '{print $8;}' | sort | tee ant.out
        jar tvf main/target/tomcatjss-main-8.5.0-SNAPSHOT.jar | awk '{print $8;}' | grep -v '^META-INF/maven/' | sort > maven.out
        diff ant.out maven.out

    - name: Build Tomcat JSS RPMS with Ant
      run: |
        ./build.sh --work-dir=build rpm

    - name: Install RPMInspect
      run: |
        dnf install -y dnf-plugins-core
        dnf copr enable -y copr.fedorainfracloud.org/dcantrell/rpminspect
        dnf install -y rpminspect rpminspect-data-fedora

    - name: Run RPMInspect on SRPM and RPMs
      run: ./tests/bin/rpminspect.sh
