name: Build Tests

on: [push, pull_request]

jobs:
  init:
    name: Initialization
    uses: ./.github/workflows/init.yml
    secrets: inherit

  build-test:
    name: Build Test
    needs: init
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    container: fedora:${{ matrix.os }}
    steps:
    - name: Clone repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        dnf install -y dnf-plugins-core maven rpm-build
        dnf copr enable -y ${{ needs.init.outputs.repo }}
        dnf builddep -y --spec tomcatjss.spec

    - name: Build Tomcat JSS with Ant
      run: |
        ./build.sh

    - name: Install JSS into Maven repo
      run: |
        mvn install:install-file \
            -Dfile=/usr/lib/java/jss.jar \
            -DgroupId=org.dogtagpki \
            -DartifactId=jss \
            -Dversion=5.3.0-SNAPSHOT \
            -Dpackaging=jar \
            -DgeneratePom=true

    - name: Build Tomcat JSS with Maven
      run: |
        mvn package

    - name: Compare tomcatjss.jar
      run: |
        jar tvf ~/build/tomcatjss/jars/tomcatjss.jar | awk '{print $8;}' | sort | tee ant.out
        jar tvf main/target/tomcatjss-main-8.3.0-SNAPSHOT.jar | awk '{print $8;}' | grep -v '^META-INF/maven/' | sort > maven.out
        diff ant.out maven.out

    - name: Build Tomcat JSS RPMS with Ant
      run: |
        ./build.sh --work-dir=build rpm

    - name: Install RPMInspect
      run: |
        dnf install -y dnf-plugins-core
        dnf copr enable -y copr.fedorainfracloud.org/dcantrell/rpminspect
        dnf install -y rpminspect rpminspect-data-fedora

    - name: Run RPMInspect on SRPM and RPMs
      run: ./tests/bin/rpminspect.sh
